<?xml version="1.0"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <!-- Rewrite rules to /public by @maartenballiauw *tnx* -->
                <rule name="TransferToPublic-StaticContent" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{REQUEST_URI}" pattern="*images*" />
                        <add input="{REQUEST_URI}" pattern="*img*" />
                        <add input="{REQUEST_URI}" pattern="*css*" />
                        <add input="{REQUEST_URI}" pattern="*fonts*" />
                        <add input="{REQUEST_URI}" pattern="*js*" />
                        <add input="{REQUEST_URI}" pattern="*assets*" />
                    </conditions>
                    <action type="Rewrite" url="{R:0}" />
                </rule>
                <rule name="TransferToPublic" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*" />
                    <action type="Rewrite" url="index.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>